<app-menu-bar></app-menu-bar>

<div class="page-wrapper bg-wrapper">
    <div class="content" style="margin-top: -50px;">
        <div class="row">
          <div class="card buy-form p-3">
    <h4 class="page-title text-danger">User Activation</h4>
       <form [formGroup]="form" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="focus-label">Packages <span class="text-danger">*</span></label>
                                <select class="select form-control floating" formControlName="package">
                                    <option value="" selected>Select Package</option>
                                    <option *ngFor="let pd of pack" value="{{pd.id}}">{{pd.pname}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="focus-label">Enter Userid <span class="text-danger">*</span></label>
                                <input type="text" class="form-control floating" formControlName="regid" (keyup)="onRegisterIdSelect($event)">
                                <span class="text-success">{{idselectmsg}}</span>
                                <span class="text-danger">{{errorMessage}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" *ngFor="let pdata of data2">
                                <label class="focus-label">Available Wallet ($)</label>
                                <input type="text" class="form-control floating" value="{{pdata.actwallet}}" readonly>
                            </div>
                        </div>
                        <div class="text-center m-t-20">
                            <button class="btn btn-primary submit-btn" (click)="openConfirmModal()" [disabled]="!form.valid" type="button">Submit</button>
                        </div>
                    </div>
       </form>
    
</div>
 <div class="col-md-12 ">
        <app-uactivation-report></app-uactivation-report>
    </div>
</div>
</div>
</div>

<ng-template #activationModal let-modal>
  <div class="modal-header bg-success text-white position-relative">
    <h5 class="modal-title">
      <i class="fa fa-check-circle"></i> Activation Successful!
    </h5>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="fireworks-bg"></div>
  </div>

  <div class="modal-body text-center py-4">
    <img src="assets/logo1.png" alt="Logo" class="img-fluid mb-3" style="max-height:150px;" />
    <h4 class="text-success font-weight-bold">Your Package Is Activated!</h4>
      <p class="mb-2"><strong>Name:</strong> {{ udata?.rname }}</p>
    <p class="mb-2"><strong>User ID:</strong> {{ udata?.forid }}</p>
    <p class="mb-3"><strong>Package:</strong> {{ udata?.packagename }}</p>
       <p class="mb-3"><strong>Amount:</strong> {{ udata?.amount | currency:'USD':true:'1.0-1' }}</p>
    <p class="text-primary font-italic">
      Let’s start fulfilling your dream with <strong class="text-danger">Iconistar</strong> 🌟
    </p>
  </div>

  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-success px-4" (click)="modal.close('Close click')">
      Let’s Go!
    </button>
  </div>
</ng-template>


<!-- MODAL -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Activation</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to Confirm Activation?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmAction()">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div>
