<div class="main-wrapper">
   <app-menu></app-menu>

  <div class="page-wrapper bg-wrapper">
        <div class="content">
			
             <div class="row">
                    <div class="col-sm-12">
                    	<div class="welcome-header">
                    		<div class="row">
	                    		<div class="col-xl-6 col-lg-5 col-md-5 d-flex align-items-center">
	                    			<div class="wel-come-name">
	                    				<h4>Welcome , <span>Jim Carey</span></h4>
	                    			</div>
	                    		</div>
	                    		<div class="col-xl-6 col-lg-7 col-md-7">
	                    			<div class="welcome-wallet">
	                    				<div class="wallet-list">
	                    					<span>Wallet :  56, 444658</span>
	                    				</div>
	                    			</div>
	                    		</div>
	                    	</div>
                    	</div>
                </div>
            </div>
     </div>



</div>