<div class="col-md-12">
    <div class="buy-form">
        <div class="row">
            <!-- Rows per page selector -->
                <div class="col-md-12">
                    <h4 class="page-title text-success">Indirect Team</h4>
                    <h6 class="text-danger">Total Earnings: {{ getTotalEarnings() | currency:'USD':true:'1.0-1' }}</h6>
                </div>
                <div class="container">
                    <div class="row g-3">
                      <!-- <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 1</p>
                            <p class="mb-1"><i class="fa fa-users"></i> {{data1.level1report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level1tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 2</p>
                            <p class="mb-1"><i class="fa fa-users"></i> {{data1.level2report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level2tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 3</p>
                            <p class="mb-1"><i class="fa fa-users"></i> {{data1.level3report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level3tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 4</p>
                          <p class="mb-1"><i class="fa fa-users"></i> {{data1.level4report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level4tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 5</p>
                            <p class="mb-1"><i class="fa fa-users"></i> {{data1.level5report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level5tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 6</p>
                           <p class="mb-1"><i class="fa fa-users"></i> {{data1.level6report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level6tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 7</p>
                           <p class="mb-1"><i class="fa fa-users"></i> {{data1.level7report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level7tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 8</p>
                            <p class="mb-1"><i class="fa fa-users"></i> {{data1.level8report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level8tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 9</p>
                           <p class="mb-1"><i class="fa fa-users"></i> {{data1.level9report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level9tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-6 col-md-3">
                        <div class="card bg-primary text-white h-60">
                          <div class="card-body text-center">
                            <p class="mb-1">Level 10</p>
                          <p class="mb-1"><i class="fa fa-users"></i> {{data1.level10report.length }}</p>
                            <p class="mb-0"><i class="fa fa-wallet"></i> {{data1.level10tot || 0 | currency:'USD':true:'1.0-1' }} </p>
                          </div>
                        </div>
                      </div> -->


                    </div>
                  </div>

          </div>
  
      <!-- Table -->
      <!-- <div class="table-responsive">
        <table class="table table-bordered">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Level</th>
      <th>Each Level Amount</th>
      <th>Members</th>
      <th>Total Earn</th>
      <th>Referral Condition</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lvl of levels">
      <td>{{ lvl.sno }}</td>
      <td>{{ lvl.levelName }}</td>
      <td>{{ lvl.amount | currency:'USD':true:'1.0-1' }}</td>
      <td>{{ lvl.count }}</td>
      <td>{{ lvl.total | currency:'USD':true:'1.0-1' }}</td>
      <td>{{ lvl.referral }}</td>
    </tr>
    <tr class="font-weight-bold">
      <td colspan="4">Total Earnings</td>
      <td colspan="2">{{ getTotalEarnings() | currency:'USD':true:'1.0-1' }}</td>
    </tr>
  </tbody>
</table>

      </div> -->
  
      <!-- Pagination -->
      <!-- <nav *ngIf="totalPages > 1" class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1"
          >
            <a class="page-link"  (click)="goToPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link"  (click)="goToPage(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>