<div class="main-wrapper">
  <app-menu></app-menu>

  <div class="page-wrapper bg-wrapper">
    <div class="content">
      <div class="row">
        
          <!-- Recent Buying Section -->
          <div class="recent-buy comman-head">
            <h3>Right Team</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="buy-form-crypto mb-0">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>S.No</th>
                          <th>Date</th>
                          <th>Userid</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of data1; let i=index">
                          <td>{{i+1}}</td>
                          <td>{{row.cdate | date:'dd/MMM/YYYY'}}</td>
                          <td class="pay-clr">{{row.forid}}</td>
                          <td>
                            <span class="custom-status active-green" *ngIf="row.board=='2'">
                              <span class="live-dark me-1"></span>Active
                            </span>
                            <span class="custom-status active-danger" *ngIf="row.board=='0'">
                              <span class="live-dark me-1"></span>Not Active
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Recent Buying -->
        </div>
      </div>
    </div>
  </div>


