<div class="main-wrapper">
  <app-menu></app-menu>

    <div class="page-wrapper bg-wrapper">
        <div class="content">
       <div class="d-flex justify-content-end">
                  <w3m-button></w3m-button>
   
</div>
            <div class="d-flex justify-content-end">
    <button class="btn btn-success btn-custom btn-deposit" data-bs-toggle="modal" data-bs-target="#addFundModal">
        Deposit Amount
    </button>
</div>

    <h4 class="fw-bold">Deposit Funds</h4>

 <div class="card table-responsive">
     <table class="table">
        <thead>
            <tr>           
                <th>S.No</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Txn Id</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of ddata; let i=index;">
                <td><span class="transaction">{{i+1}}</span></td>
                <td> {{row.cdate | date:'dd/MM/YYYY'}} </td>
                <td><span class="value">{{row.amount | currency:'USD':true:'1.0-2' }}</span></td>
                <td>{{row.transno}}</td>
                <td>Success</td>
            </tr>
        </tbody>
    </table>
 </div>

<div class="modal fade" id="addFundModal" tabindex="-1" aria-labelledby="addFundModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFundModalLabel">Add Fund</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

       <div >
<form [formGroup]="form"  id="depositForm">
  <label for="amount">USDT Amount (BEP20 Only)*</label>
  <input
    id="amount"
    class="form-control"
    type="text"
    formControlName="amount"
    min="1"
    placeholder="Enter Amount"
    (input)="formatAmount($event)"
  />

  <div *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched" class="text-danger">
    Amount is required and must be ≥ $50
  </div>

  <label for="yohan">Yohan Coins</label>
  <input class="form-control" type="number" id="yohan_amount" formControlName="yohan_amount" [value]="calculatedCoins" readonly />

  <!-- Hidden input for transaction hash -->
  <input type="hidden" id="transactionHashInput" formControlName="transno" />



  <button
    id="depositButton"
    type="submit"
    class="btn btn-sm btn-danger mt-2"
    [disabled]="!form.valid"
  >
    Submit
  </button>
</form>


</div>

</div>


      </div>
    </div>
  </div>






        </div>
    </div>


</div>

<!-- Confirm Modal -->


