<div class="main-wrapper account-wrapper" style="background-color: rgb(245, 235, 223);">
    <div class="account-page">
        <div class="account-center">
            <div class="account-box" style="background-color: rgb(14, 35, 60); border-radius: 15px; color: #fff;">
                <form  class="form-signin" [formGroup]="form" novalidate>
                    <div class="text-center">
                        <a routerLink="/"><img src="assets/logo.png" alt="Logo" style="width: 120px; height: 100px;"></a>
                    </div>
                    <h4 class="text-center text-danger"><u>SIGNUP</u></h4>
                         <div *ngIf="errorMessage" class="alert alert-danger text-center" role="alert">
                            {{ errorMessage }}
                        </div>
                    <div class="form-group">
                        <label class="text-white">Referral Code </label>
                        <input type="text" class="form-control" [(ngModel)]="data1.regid" formControlName="sponcerid"  readonly>
                           (<span class="text-success">{{data1.name}}</span>) 
                    </div>
                    <div class="form-group">
                        <label class="text-white">Name *</label>
                        <input type="text" autofocus="" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label class="text-white">Phone *</label>
                        <input type="text" autofocus="" class="form-control" formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label class="text-white">Email *</label>
                        <input type="text" autofocus="" class="form-control" formControlName="email">
                          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
                            <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                            <div *ngIf="form.get('email')?.errors?.['email']">Enter a valid email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="text-white">Password *</label>
                        <input type="text" autofocus="" class="form-control" formControlName="password">
                    </div>
                    <div class="form-group">
                        <label class="text-white">Confirm Password *</label>
                        <input type="text" autofocus="" formControlName="cpassword" class="form-control">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary account-btn" (click)="Register()"  [disabled]="!form.valid">Register</button>
                    </div>
                    <div class="text-center register-link">
                        Already have an account? <a routerLink="/auth-login" class="text-white" class="text-warning" style="text-decoration: none;">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<ng-template #registrationModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-success">Registration Successful</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
        <div class="container my-5">
            <div class="text-center">
                <!-- <div style="border-radius: 50%; height: 150px; width: 150px; background: #F0F9F2; margin: 0 auto; display: flex; align-items: center; justify-content: center;">
                <i class="text-success" style="font-size: 60px;">✓</i>
                </div> -->
                <h4 class="text-success mt-3">Welcome to ICONISTAR Family!</h4>
                <img src="assets/logo.png" alt="Custom Logo" style="width: 80px; height: 80px;" class="my-3" />
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-md-12">
                <div class="shadow rounded border-0">
                    <div class="card-body p-4">
                    <h4 class="mb-4 text-center text-primary">User Credentials</h4>
                    
                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Name:</div>
                        <div class="col-7 text-muted">{{ udata?.name }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">User ID:</div>
                        <div class="col-7"><span class="badge badge-info px-2 py-1">{{ udata?.regid }}</span></div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Password:</div>
                        <div class="col-7 text-muted">{{ udata?.password }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Security Key:</div>
                        <div class="col-7 text-muted">{{ udata?.transpassword }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Sponsor ID:</div>
                        <div class="col-7 text-muted">{{ udata?.sponcerid }}</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-5 font-weight-bold">Sponsor Name:</div>
                        <div class="col-7 text-muted">{{ udata?.sname }}</div>
                    </div>

                    <div class="text-center mt-4">
                        <button class="btn btn-success px-4" routerLink="/auth-signup">Continue</button>
                    </div>

                    </div>
                </div>
                </div>
            </div>
            </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div class="container-fluid" style="background-color: black; color: #fff; margin-top: -20px;">
    <div class="row p-2">
        <div class="col-6 text-center">
            <p>Terms & Policy</p>
        </div>
        <div class="col-6 text-center">
            support@iconistar.net
        </div>
    </div>
</div>