<div class="main-wrapper">
  <app-menu></app-menu>
   <div class="page-wrapper bg-wrapper">
        <div class="content">
            <h4>Direct Referral</h4>
            <div class="" *ngIf="loading">
                <p> <img src="assets/logo.png" alt=""> Loading Data Wait...</p>
            </div>
            <div class="table-responsive" *ngIf="!loading && data1.length > 0">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>S.No</th>
                             <th>Date</th>
                            <th>Userid</th>
                            <th style="min-width:110px;">Name</th>
                            <th style="min-width:110px;">Position</th>
                            <th style="min-width:110px;">Business</th>
                            <th style="min-width:110px;">Status</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of data1; let i=index">
                            <td> {{i+1}}</td>
                              <td>{{row.cdate | date:'dd/MMM/YYYY'}}</td>
                            <td>{{row.regid}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.position}}</td>
                            <td class="pay-clr">{{row.business | currency:'USD':true:'1.0-2'}}</td>
                            <td><span *ngIf="row.topupstatus=='0'" class="custom-status active-red">
                                <span class="live-dark me-1"></span>Not Active</span>
                                <span *ngIf="row.topupstatus=='1'" class="custom-status active-green">
                                <span class="live-dark me-1"></span>Active</span>
                            </td>
                            <td>
                             <span
  *ngIf="row.adate && row.adate !== '0000-00-00' && row.atime && row.atime !== '00:00:00'"
  class="text-primary fs-20"
>
  {{ row.adate | date: 'dd/MMM/YYYY' }}<br />
  {{ row.atime }}
</span>
                            </td>                                  
                        </tr>										
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>