 <h4 class="page-title text-success">Icon Gold Club Users</h4>
          <table class="table table-striped custom-table mb-0">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Date</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Sponsor</th>
                <th>Wallet</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let item of data1; let i = index">
                <td>{{  i + 1 }}</td>
                <td>{{ item.cdate | date:'dd/MMM/YYYY' }}</td>
                <td>{{ item.rname }}<br /><small>{{ item.regid }}</small></td>
                <td>{{ item.rphone }}</td>
                <td>{{ item.sponcerid }}</td>
                <td>{{ item.walletamount }}</td>
                <td>
                    <span style="cursor: pointer">
                                    <ng-container *ngIf="item.status=='1'">
                                        <span class="badge badge-success"> Active</span> 
                                    </ng-container>
                                    <ng-container *ngIf="item.status=='0'">
                                        <span class="badge badge-danger">InActive</span>
                                    </ng-container>
                                </span>
                </td>
                <td class="text-center">
                  <div class="dropdown">
                    <i class="fa fa-ellipsis-v" id="actionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;"></i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actionMenu">
                      <a class="dropdown-item" >View Profile</a>
                      <a class="dropdown-item" href="#">Wallet Transfer</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          
   
